<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Site Title -->
	<title>Sherah - HTML eCommerce Dashboard Template</title>

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
		  rel="stylesheet">

	<!-- Fav Icon -->
	<link rel="icon" href="~/img/favicon.png">

	<!-- sherah Stylesheet -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/font-awesome-all.min.css">
	<link rel="stylesheet" href="~/css/charts.min.css">
	<link rel="stylesheet" href="~/css/datatables.min.css">
	<link rel="stylesheet" href="~/css/jvector-map.css">
	<link rel="stylesheet" href="~/css/slickslider.min.css">
	<link rel="stylesheet" href="~/css/jquery-ui.css">
	<link rel="stylesheet" href="~/css/reset.css">
	<link rel="stylesheet" href="~/css/style.css">

</head>

<body id="sherah-dark-light">

	<div class="sherah-body-area">

		<div class="sherah-smenu">
			<partial name="LeftMenu" />
		</div>

		<header class="sherah-header">
			<partial name="Header" />
		</header>

		<section class="sherah-adashboard sherah-show">
			@RenderBody()
		</section>

	</div>

	<!-- Sherah Scripts -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/charts.js"></script>
	<script src="~/js/datatables.min.js"></script>
	<script src="~/js/circle-progress.min.js"></script>
	<script src="~/js/jquery-jvectormap.js"></script>
	<script src="~/js/jvector-map.js"></script>
	<script src="~/js/slickslider.min.js"></script>
	<script src="~/js/main.js"></script>
	@RenderSection("Scripts", required:false);

	@RenderSection("InvoicesTable", required:false);
	@RenderSection("createInvoice", required:false);
	@RenderSection("InvoiceDetails", required:false);

</body>

</html>
