@{
	var no = 0;
}
<table id="sherah-table__main"
	   class="sherah-table__main sherah-table__main--front sherah-table__main-v1">
	<!-- sherah Table Head -->
	<thead class="sherah-table__head">
		<tr>
			<th class="sherah-table__column-1 sherah-table__h1" style="padding-left: 24px">STT</th>
			<th class="sherah-table__column-2 sherah-table__h2">Mã hóa đơn</th>
			<th class="sherah-table__column-3 sherah-table__h3">Người tạo</th>
			<th class="sherah-table__column-4 sherah-table__h4">Khách hàng</th>
			<th class="sherah-table__column-5 sherah-table__h5">Ngày tạo</th>
			<th class="sherah-table__column-6 sherah-table__h6" style="padding-right: 50px">Giá</th>
		</tr>
	</thead>
	<!-- sherah Table Body -->
	<tbody class="sherah-table__body">
		@foreach (var c in ViewBag.RecentInvoices)
		{
			<tr>
				<td class="sherah-table__column-1 sherah-table__data-1" style="padding-left: 32px">
					<div class="sherah-table__product">
						<p class="crany-table__product-content-STT">
							@(no++ < 10 ? "0" : "")@no
						</p>
					</div>
				</td>
				<td class="sherah-table__column-2 sherah-table__data-2" style="padding-left: 32px">
					<div class="sherah-table__product">
						<p class="sherah-table__product">@c.SoHD</p>
					</div>
				</td>
				<td class="sherah-table__column-3 sherah-table__data-3">
					<div class="sherah-table__product">
						<p class="sherah-table__product">@c.TenNV</p>
					</div>
				</td>
				<td class="sherah-table__column-4 sherah-table__data-4">
					<div class="sherah-table__product">
						<p class="sherah-table__product">@c.TenKH</p>
					</div>
				</td>
				<td class="sherah-table__column-5 sherah-table__data-5">
					<div class="sherah-table__product">
						<p class="sherah-table__product">@c.NgayBan.ToString("dd/MM/yyyy")</p>
					</div>
				</td>
				<td class="sherah-table__column-6 sherah-table__data-6" style="padding-right: 24px">
					<div class="sherah-table__product">
						<p class="sherah-table__product">@c.TongHD (VND)</p>
					</div>
				</td>
			</tr>
		}
	</tbody>
	<!-- End sherah Table Body -->
</table>


